---
import Layout from '../layouts/Layout.astro';
import type { Book } from '../interfaces/book';
import { books } from '../api/api.json';

export const data = {
  books: books as Book[],
};

---
<Layout title="Home">
  <h1>Hier komen alle boeken</h1>
  <a href="/Detailboek">detail van dit boek</a>
  <div>
	<ul>
		{data.books.map((book: Book, index: number) => (
			<li {...{ key: index }}>
			  <strong>{book.title}</strong> by {book.author}
			  <a href={`/book/${book.slug}`}>
				<img src={book.img} alt="" class="w-auto h-56" transition:name={book.slug}>
			  </a>
			</li>
		  ))}
	  </ul>
  </div>
</Layout>