---
import Layout from '../layouts/Layout.astro'
import type { Book } from '../interfaces/book'
import { books } from '../api/api.json'

export const data = {
  books: books as Book[],
}
---

<Layout title="Home">
  <div class="px-52 pt-10 pb-12 flex justify-around items-center">
    <p class="font-bold text-neutral-white text-xl pr-2 max-w-96">
      Verdiep je in de <span class="text-secondary-500"
        >geschreven werelden</span
      >, waar verhalen sierlijk ontvouwen en elke pagina een <span
        class="text-secondary-500">portaal</span
      > is naar <span class="text-secondary-500">verborgen rijken</span>.
    </p>
    <div>
      <img
        class="rounded-md h-auto w-80"
        src="../../public/The-10-Best-Fantasy-Books-for-5th-Graders.jpg"
        alt="foto van een fantasiewereld"
      />
      <p class="text-white text-[10px] text-center opacity-65">
        Afbeelding van rtbookreviews
      </p>
    </div>
  </div>
  <div class="px-32 py-6 bg-tertiary-500 min-h-screen">
    <div class="grid grid-cols-4 gap-y-24">
      {
        data.books.slice(0, 4).map((book: Book, index: number) => (
          <a class="flex flex-col justify-center" href={`/book/${book.slug}`}>
            <img
              src={book.img}
              alt=""
              class="w-auto h-72 self-center"
              transition:name={book.slug}
            />
            <div class="px-10 pt-2">
              <p class="font-bold" transition:name={book.title}>
                {book.title}
              </p>
              <p transition:name={book.author}>{book.author}</p>
            </div>
          </a>
        ))
      }
    </div>
    <div class="mt-24 mx-40 mb-6">
      <h1 class="text-4xl font-bold">Specials deze week</h1>
      {
        data.books[4] && (
          <div class="flex justify-between items-center mt-12">
            <div transition:name="play">
              <video
                class="w-auto h-40 self-center"
                autoplay
                muted
                playsinline
                transition:persist="video"
              >
                <source src="../../public/wonka.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="px-10 pt-2">
              <p
                class="font-bold text-3xl"
                transition:name={data.books[4].title}
              >
                {data.books[4].title}
              </p>
              <p class="text-lg" transition:name={data.books[4].author}>
                {data.books[4].author}
              </p>
            </div>
            <a
              href={`/special/${data.books[4].slug}`}
              class="flex justify-center gap-2 bg-secondary-500 rounded-md w-fit h-fit p-4 items-center"
            >
              <p>Bekijk hier</p>
              <i class="fas fa-chevron-right" />
            </a>
          </div>
        )
      }
    </div>
  </div>
</Layout>
