---
import Layout from '../layouts/Layout.astro'
import { books } from '../api/api.json'
import type { Book } from '../interfaces/book'

export const data = {
  books: books as Book[],
}

const total = data.books.reduce((accumulator, book) => accumulator + book.price, 0);
---

<Layout title="Home">
  <div class="px-52 pt-10 pb-12 bg-tertiary-500 min-h-screen">
    <div class="grid grid-cols-4 gap-y-24 w-full divide-x divide-gray-500">
      <div class="col-span-3">
        <p class="text-2xl font-bold mb-6 underline">Je winkelmand</p>
        <div class="grid grid-cols-4 text-lg font-semibold place-items-center">
          <p>Boek</p>
          <p>Auteur</p>
          <p>Prijs</p>
          <p>Verwijderen</p>
        </div>
        <div class="grid grid-cols-4 place-items-center">
          {data.books.map((book: Book, index: number) => (
            <>
              <a
                class="flex justify-start pl-2 py-4"
                href={`/book/${book.slug}`}
              >
                <img
                  src={book.img}
                  alt=""
                  class="w-auto h-36 self-center"
                  transition:name={book.slug}
                />
              </a>
              <div class="px-2 pt-2">
                <p class="font-bold" transition:name={book.title}>
                  {book.title}
                </p>
                <p transition:name={book.author}>{book.author}</p>
              </div>
              <div>{book.price.toFixed(2)}</div>
              <i class="fas fa-trash text-neutral-black text-2xl"></i>
            </>
          ))}
        </div>
      </div>
      <div class="pl-4 flex flex-col">
        <p class="text-2xl font-bold mb-6 underline">Bestelling</p>
        {data.books.map((book: Book, index: number) => (
          <div class="flex justify-between py-1">
            <p>{book.title}</p>
            <p>€ {book.price.toFixed(2)}</p>
          </div>
        ))}
        <div class="flex justify-between py-1 divide-y divide-neutral-black">
          <p>totaal</p>
          <p>€ {total.toFixed(2)}</p>
        </div>
        <button class="mt-12 flex justify-center gap-2 bg-secondary-500 rounded-md w-fit px-4 items-center">
          <p>betaal</p>
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</Layout>
